//Breakpoints

$large-screen: new-breakpoint(min-width 900px 12);
$medium-screen: new-breakpoint(max-width 700px 8);
$mobile: new-breakpoint(max-width 480px 4);
$columns: 12;
$grid-items-background: #BBB;


//Positioning Mixins

@mixin vertical-align {
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

@mixin center-block {
  display: block;
  margin-left: auto;
  margin-right: auto;
}


//Global layout styles

body{
  width: 100%;
}

figure, img {
  max-width: 100%;
}

figure {
    display: table;
}
img, figcaption {
    display: table-cell;
    vertical-align: bottom;
}
figcaption {
    padding-left: 4px;
}

//chrome figure issue - WTF
figure {
display: block;
-webkit-margin-before: 0;
-webkit-margin-after: 0;
-webkit-margin-start: 0;
-webkit-margin-end: 0;
}

////////////////////////////////////////////////////////////////////
//INTRO SECTION
////////////////////////////////////////////////////////////////////

header{
  background-color: $primary-grey;
  width: 100%;
  height: 12em;
  a{
    margin: 1.5em 1.5em;
    padding-top: 1em;
  }
  nav{
    @include vertical-align;
    text-align: center;
  }
  .header-logo{
    margin: 0 auto 1em;
    display: block;
  }
}

////////////////////////////////////////////////////////////////////
//INTRO SECTION
////////////////////////////////////////////////////////////////////

.content-block-center{
  @include outer-container;
}

.page-head{

  @include background-image(url("http://placehold.it/1000x900"));
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  padding: 12em 0 12em 0;
  position: relative;
  width: 100%;
  display: table;
  height: 30em;
  img{
    width: 100%;
  }
  h1{
    @include span-columns(12);
    @include media($mobile) {
      @include type(2);
      }
    @include vertical-align;
    text-align: center;
    color: #FFF;
    z-index: 999;
  }
  p{
    @include span-columns(8);
    @include shift(2);
    @include media($mobile) {
      @include span-columns(4);
      @include shift(0);
    }
    padding: 1em 2em;
    position: relative;
    color: white;
    font-weight: 800;
    background-color: transparentize(black, .8);
    z-index: 999;
    }

  //color overlay shiz
  $image-gradient-color-top: black;
  $transparency-top: .9;
  $image-gradient-color-bottom: black;
  $transparency-bottom: .9;
  $vertical-angle: 180deg;

  $image-gradient-color-left: black;
  $transparency-left: .9;
  $image-gradient-color-right: black;
  $transparency-right: .9;
  $horizontal-angle: 90deg;
    .overlay {
      @include linear-gradient($vertical-angle, transparentize($image-gradient-color-top, $transparency-top),
      transparentize($image-gradient-color-bottom, $transparency-bottom));
      display: block;
      @include position(absolute, 0px 0px 0px 0px);

      &:after {
        content: '';
        @include linear-gradient($horizontal-angle, transparentize($image-gradient-color-left, $transparency-left),
          transparentize($image-gradient-color-right, $transparency-right));
        display: block;
        @include position(absolute, 0px 0px 0px 0px);
      }
  }
}

////////////////////////////////////////////////////////////////////
//SERVICES SECTION
////////////////////////////////////////////////////////////////////

.services{
  background-color: transparentize(lightblue, .4);
  height: 100%;
  padding: 1em 0;
  h1{
    padding-top: 2.5rem;

    @include media($mobile) {
      @include type(2);
    }
  }
}

figure{
  padding: 9em 0;
  @include span-columns(3);

  @include media($medium-screen) {
    padding: 4em 0;
    @include span-columns(4);
    @include omega(3n);
  }

  @include media($mobile) {
    padding: 2em 0;
    @include fill-parent();
  }
}

////////////////////////////////////////////////////////////////////
//PROCESS SECTION
////////////////////////////////////////////////////////////////////
.process{
  background-color: transparentize(teal, .9);
  h1{
    padding-top: 2.5rem;
  }
  p{
    @include span-columns(8);
    @include shift(2);
    @include media($mobile) {
      @include span-columns(4);
      @include shift(0);
    }
    margin-top: 3em;
    padding: 1em 2em;
    position: relative;
    color: white;
    font-weight: 800;
    background-color: transparentize(black, .8);
    z-index: 999;
  }
  padding-bottom: 5em;
}
//common properties for subprocess sections
%subprocess{
  h2{
    @include span-columns(4);
    padding: 1em 0 1em 3em;
  }
  .row{
    @include fill-parent();
  }
  p{
    @include span-columns(4);
  }
  height: 100%;
}

.sub-process1{
@extend %subprocess;
background-color: transparentize(tomato, .8);
}

.sub-process2{
@extend %subprocess;
background-color: transparentize(orange, .8);
}

.sub-process3{
@extend %subprocess;
background-color: transparentize(pink, .8);
}

.sub-process4{
@extend %subprocess;
background-color: transparentize(red, .8);
}


////////////////////////////////////////////////////////////////////
//CLIENTS SECTION
////////////////////////////////////////////////////////////////////

.clients{
  @include outer-container;
    @mixin grid-item-columns($columns) {
      width: (100% / 12) * $columns;
    }

.section-title{
  margin-top: 3rem;
}

.grid-items-lines {
  margin-top: 2em;
  $grid-items-background: $base-body-color;
  $grid-item-background: $base-body-color;
  $grid-item-border: 1px solid transparentize($base-font-color, .8);
  $grid-item-columns: 4;
  $grid-item-big-columns: 8;
  $grid-item-color: $base-font-color;
  $grid-item-height: 13em;

  @include clearfix;
  position: relative;

  .grid-item {
    @include transition (all 0.2s ease-in-out);
    height: $grid-item-height;
    background: $grid-item-background;
    width: 100%;
    overflow: hidden;
    float: left;
    padding: 2em;
    border-right: $grid-item-border;
    border-bottom: $grid-item-border;
    cursor: pointer;

    @include media($large-screen) {
      @include grid-item-columns($grid-item-columns);
    }

    &:hover {
      background: transparentize($grid-item-color, .95);
    }
  }

  .grid-item img {
      display: block;
      height: 5em;
      margin: 1em auto 1.2em;
      opacity: .2;
    }

  .grid-item h1 {
      color: $grid-item-color;
      font-size: 1.3em;
      margin-bottom: .4em;
    }

  //uncomment below for client description styling
  // .grid-item p {
  //     color: transparentize($grid-item-color, .4);
  //     @include media($medium-screen) {
  //       max-width: 70%;
  //     }
    // }
  }

// kills outer borders
  .bottom-cover {
    position: absolute;
    bottom: 0px;
    width: 100%;
    height: 3px;
    background: $grid-items-background;
  }

  .right-cover {
    position: absolute;
    right: 0px;
    height: 100%;
    width: 4px;
    background: $grid-items-background;
  }
}





// $clients: billabong, stance, rvca, electric;

// .client-box {
//    // client div properties
//    background-size: 100%;
//    margin-top: 1em;

//    // client setup
//    @each $client in $clients {
//         &.#{$client} {
//              background-image:url("../img/clients/#{$client}.jpg");
//              background-size: 100%;
//              @include span-columns(3);
//              @include media($mobile) {
//               @include span-columns(2);
//               }
//              height: 15em;
//              background-position: cover;
//              background-repeat: no-repeat;
//              content: "";
//              &:hover{
//               background-color: darken($muted-yellow, 10);
//              }
//         }
//    }
//  }

