doctype html
html
  head
    meta(charset="utf-8")
    meta(http-equiv="X-UA-Compatible" content="IE=Edge")
    title.
      Blacksmith MFG
    meta(name = "description" content="Blacksmith MFG is a boutique product development and offshore manufacturing partner.")
    meta(name = "viewport" content="width=device-width, initial-scale=1")
    link(rel = "stylesheet" href="css/main.css")
  body
      header
        nav(role="navigation")
          img(src="img/blacksmith-logo.png" alt="Blacksmith Logo" class="header-logo" height="100px")
          a(href="#") Services
          a(href="#") Process
          a(href="#") Quality
          a(href="#") Clients
          a(href="#") Contact

      section(class="page-head")
        div(class="content-block-center")
          h1(class="title") WE KNOW CHINA
          p.
            Bacon ipsum dolor sit amet swine rump andouille ground round shoulder pork ribeye short ribs. Leberkas shankle brisket flank capicola jerky, ground round short loin. Doner jerky meatloaf bacon kielbasa.
        div(class="overlay")

      section(class="services")
        div(class="content-block-center")
          h1(class="section-title") What We Do
          figure
            img(src="http://placehold.it/300")
            figcaption Design
          figure
            img(src="http://placehold.it/300")
            figcaption Sourcing
          figure
            img(src="http://placehold.it/300")
            figcaption Manufacturing
          figure
            img(src="http://placehold.it/300")
            figcaption Logistics

      section(class="process")
        div(class="content-block-center")
          h1(class="section-title") How We Do It
          p.
            Bacon ipsum dolor sit amet swine rump andouille ground round shoulder pork ribeye short ribs. Leberkas shankle brisket flank capicola jerky, ground round short loin. Doner jerky meatloaf bacon kielbasa.
      section(class="sub-process1")
        div(class="content-block-center")
          h2(class="section-title") Step 1
          p.
            Bipsum dolor sit amet swine rump andouille ground round shoulder pork ribeye!
          img(src="http://placehold.it/300")
      section(class="sub-process2")
        div(class="content-block-center")
          h2(class="section-title") Step 2
          p.
            Bipsum dolor sit amet swine rump andouille ground round shoulder pork ribeye!
          img(src="http://placehold.it/300")
      section(class="sub-process3")
        div(class="content-block-center")
          h2(class="section-title") Step 3
          p.
            Bipsum dolor sit amet swine rump andouille ground round shoulder pork ribeye!
          img(src="http://placehold.it/300")
      section(class="sub-process4")
        div(class="content-block-center")
          h2(class="section-title") Step 4
          p.
            Bipsum dolor sit amet swine rump andouille ground round shoulder pork ribeye!
          img(src="http://placehold.it/300")

      section(class="clients")
        h1(class="section-title") Our Amazing Partners
        div(class="grid-items-lines")
          a(href="#" class="grid-item")
            img(src="http://placehold.it/160x75")
            h1(class="clientname") Client Name
            //- p Small description here
          a(href="#" class="grid-item")
            img(src="http://placehold.it/160x75")
            h1(class="clientname") Client Name
            //- p Small description here
          a(href="#" class="grid-item")
            img(src="http://placehold.it/160x75")
            h1(class="clientname") Client Name
            //- p Small description here
          a(href="#" class="grid-item")
            img(src="http://placehold.it/160x75")
            h1(class="clientname") Client Name
            //- p Small description here
          a(href="#" class="grid-item")
            img(src="http://placehold.it/160x75")
            h1(class="clientname") Client Name
            //- p Small description here
          a(href="#" class="grid-item")
            img(src="http://placehold.it/160x75")
            h1(class="clientname") Client Name
            //- p Small description here
          a(href="#" class="grid-item")
            img(src="http://placehold.it/160x75")
            h1(class="clientname") Client Name
            //- p Small description here
          a(href="#" class="grid-item")
            img(src="http://placehold.it/160x75")
            h1(class="clientname") Client Name
            //- p Small description here
          a(href="#" class="grid-item")
            img(src="http://placehold.it/160x75")
            h1(class="clientname") Client Name
            //- p Small description here
          div(class="right-cover")
          div(class="bottome-cover")


